.photo-grid {
    width: calc(100% - 96px);
    margin: 0 auto;
}

@media screen and (max-width:768px) {
    .photo-grid {
        width: 720px;
    }
}

@media screen and (max-width:400px) {
    .photo-grid {
        width: 288px;
    }
}

