.lead__title {
    max-width: 793px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    margin: 90px auto 32px;
}

@media screen and (max-width:960px) {
    .lead__title {
        max-width: 720px;
    }
}

@media screen and (max-width:500px) {
    .lead__title {
        width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin: 50px auto 16px;
    }
}