.place__paragraph-text {
    margin: 0;
    margin-bottom: 25px;
    width: 484px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

@media screen and (max-width:768px) {
    .place__paragraph-text {
        margin: auto;
        width: 352px;
        line-height: 26px;
        font-size: 16px;
    }

    .place__paragraph-text + .place__paragraph-text {
        margin-top: 25px;
    }

}

@media screen and (max-width:400px) {
    .place__paragraph-text {
        width: 288px;
    }
}